[2018-03-24 02:21] AlexanderPico opened #1 "batches table"
Still need to be dumping stats into `batches`. See `b` table for example content.

[2018-03-24 02:24] AlexanderPico opened #2 "Add lexicon source column to figures__xrefs"
It would be great to be able to see the lexicon source per row in `figures__xrefs`

[2018-03-24 02:26] AlexanderPico opened #3 "Add new_to_wp column to figures__xrefs"
A check against `xrefs_wp_hs` should be able to populate this column. See `ofx` for example.

[2018-04-03 00:26] AlexanderPico opened #4 "Expand on numeric ranges"
Consider handling cases like these:

ASK1-3
MEKK1-4
MLK1-3
TAO1-3

[2018-04-03 01:19] ariutta commented on #4
As part of expand?

[2018-04-03 01:26] AlexanderPico commented on #4
Sure, unless you think it needs to be its own transform?

[2018-04-04 07:57] #2 closed

[2018-04-10 22:37] AlexanderPico opened #5 "matches missing from figures__xrefs view"
In this example, Cyclin E/A is successfully matched, added to `success.txt` and `match_attempts`, but it's missing from `figures__xrefs`. Here are the results from a query against `match_attempts`:

[code]

Everything is pulled into the view just fine except for the two CyclinE/A columns. I'm guessing there is some sort of unique criteria being applied to the `word` column in the construction of t

[2018-04-10 22:41] AlexanderPico commented on #5
Somehow, in contrast to the example above, this case with two words that are identical behaves just fine and the individual hits are properly included in `figures__xrefs`, so it's not a simply matter of excluding non-unique words...

[code]

[2018-04-12 04:48] AlexanderPico commented on #5
Another case where match did NOT get pulled into `figures__xrefs` view, "CyclinD1":

[code]

[2018-04-12 04:52] AlexanderPico commented on #5
And another, "NF-KB":

[code]

[2018-04-12 04:54] AlexanderPico commented on #5
Another case with "NF-KB":

[code]

[2018-04-13 22:07] #4 closed

[2018-04-13 22:07] #1 closed

[2018-04-13 23:13] ariutta commented on #5
The symbols table doesn't contain anything starting with "CYCLIN":

[code]

[2018-04-14 00:17] ariutta commented on #5
Turns out it was the non-alphanumeric characters like dashes.

[2018-08-22 08:22] egonw opened #6 "please add a README"
... with some basic info and ideally a pointer to the BioRXiv paper and online presentations.

[2018-08-23 19:24] #6 closed, assigned to AlexanderPico

[2018-08-27 19:08] ariutta opened #7 "Use updated homoglyphs package"
See response and code from here:
https://github.com/orsinium/homoglyphs/issues/7#issuecomment-416285622

[2019-10-14 19:02] ariutta opened #8 "Paper on automated concept annotation for biomedical full text articles"
Take a look:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6602571/

[2019-10-21 18:33] ariutta opened #9 "Identify PTMs"
We could identify PTMs gene products, e.g.: phosphorylation, acetylation and ubiquitination. In slack, @AlexanderPico described the low-hanging fruit we could go after:

The more difficult ones to identify would be the gene products with a state attached like a P in a circle, e.g.:
![Transient_Dendritic_Spine_Growth_following_High-Frequency_Stimulation](https://user-images.githubusercontent.com/12

[2019-10-24 18:39] AlexanderPico opened #10 "Review article on pathway analysis methods"
Including proper benchmarking approach we could use to assess PFOCR:
https://genomebiology.biomedcentral.com/track/pdf/10.1186/s13059-019-1790-4

[2019-11-13 01:50] AlexanderPico opened #11 "Normalize entities from beta release of PFOCR data"
Following the same approach as other Meta-KG sources, we will normalize gene and pathway entities according to the BioLink Model

[2019-11-13 01:52] AlexanderPico opened #12 "Establish a BioThings API for access to PFOCR data"
Create an API compliant with the SmartAPI standard using the BioThings SDK.

[2019-11-13 01:53] AlexanderPico opened #13 "Provide PFOCR data for external ranking and sorting"
The gene content from pathway figures will be amenable to the prioritization approaches described in Milestone Group 3 during the first segment either by the export strategies previously mentioned or by structured formats produced directly by our group, e.g., GraphML, RDF or OWL

[2019-11-13 01:56] AlexanderPico opened #14 "Establish infrastructure to automate the PFOCR pipeline"
making it better able to keep up with the stream of new data being generated, while also back-filling with data from past publications. We will develop a system for automating the construction of the lexicon used in the named entity recognition steps. We will automate the regular normalization and deposition of the PFOCR data into our newly-created Translator API.

[2019-11-13 01:59] AlexanderPico opened #15 "Support expansion and filtering operations in BTE through the PFOCR API with expanded concept extraction"
The PFOCR data can be used to either expand or filter query paths. Small gene sets along query paths can be expanded to include all co-members in published pathway figures, and large gene sets can be filtered down into more biologically focused sets.

[2019-11-13 02:00] AlexanderPico opened #16 "Add node properties to our figure-based gene sets"
for summarizing query path results during evaluation. For example, annotating pathway figures with terms from the Pathway Ontology will allow BTE users to filter genes by hierarchically-organized pathway classes.

[2019-11-13 02:01] AlexanderPico opened #17 "Continue automation of PFOCR"
For example, developing machine learning methods to distinguish figures of pathway diagrams from other figure types returned by PMC pathway image searches.

[2020-01-22 19:54] andrewsu commented on #12
First step here would be to create a JSON file file with some canonical gene ID (Entrez Gene or Ensembl) as the top-level key, and then an array of objects that corresponds to pathways that gene is a member of.  Any reasonable object structure is probably fine, but would be good to confirm that with @kevinxin90 before you lock it in.

@kevinxin90: if we want two endpoints in the API -- one to quer

[2020-01-28 03:10] kevinxin90 commented on #12
Here is a sample JSON file:
`{'_id': 'PMC5395363',
 'associatetWith': {
   "genes": [1000, 207, 208, 51384],
   "additionalData": "..."
  }
}`

For all BioThings APIs, we need a “_id” for each document serving as the primary key. In your case, it might be the PMC ID related to the gene-linked pathway figures.

That “_id” has to be unique. In case you have multiple records for the same PMC  ID, you

[2020-01-28 04:33] andrewsu commented on #12
In an email back in October 2019, I also asked

to which Alex replied

I think whatever reasonable way you propose of adding that information to the JSON document would be fine.

[2020-01-28 18:06] ariutta commented on #12
@kevinxin90 and @andrewsu, how would you prefer that we include information on which figure the genes are mentioned in? For example, PMC3955956 has a Figure 6 with filename nihms531061f6.jpg.

[2020-01-28 18:07] ariutta commented on #12
Do we still want to group the results by PMC ID?

[2020-01-28 18:13] kevinxin90 commented on #12
I assume one PMC ID corresponds to one figure, right?
If that's the case, we could just structure the JSON output as below:
`{'_id': 'PMC5395363', 'associatedWith': { "genes": [1000, 207, 208, 51384], "figure": "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5729535/figure/nihm531061f6.jpg/" } }`

[2020-01-28 18:21] ariutta commented on #12
One PMC ID corresponds to one paper, so there can be multiple PMC IDs per figure. I exported an initial draft of the results as [this table](https://www.dropbox.com/s/xdo3jibf6aii5h2/pfocr_biothings.tsv?dl=0). You should be able to preview a sample in [this notebook](https://www.dropbox.com/s/ii9g192pqbgm4k5/biothings_export.html?dl=0).

[2020-01-29 17:49] kevinxin90 commented on #12
@ariutta I'm a little bit confused here. Could you clarify why would a figure correspond to multiple papers?
If a figure might be related to multiple PMC IDs, and each PMC ID is related to all the genes in that figure, we could then structure the JSON output as below:
`{'_id': 'pcbi.1000512.g004', 'associatedWith': {"genes": [1000, 207, 208, 51384], "pmc": ["PMC2735650", "PMC2735651"], "figure_url

[2020-02-05 22:11] kevinxin90 commented on #12
@ariutta Hi Anders, wanna follow up with you if there are any updates on this issue? Thanks!

[2020-02-07 20:52] ariutta commented on #12
Hi @kevinxin90, sorry for the delay. I'll get you an update today.

[2020-02-07 21:03] ariutta commented on #12
How about this format?

[code]

[2020-02-10 18:26] kevinxin90 commented on #12
@ariutta Hi Anders, thanks for the clarification. That structure looks great to me! We can proceed setting up an API for it once the JSON file is ready. Thank you!

[2020-02-15 00:45] AlexanderPico commented on #11
Identifiers in our JSON:
- Entrez IDs
- PMIDs (slightly better than PMCIDs)

[2020-02-15 00:47] AlexanderPico commented on #12
Add "pmid" as well.

[2020-02-15 00:49] AlexanderPico commented on #12
Note @ariutta: the example figureUrl is one of the ones that does not resolve. I'm assuming it's just a bad example?

[2020-02-15 00:59] AlexanderPico commented on #12
@kevinxin90 We can give your a smaller JSON on Monday and then provide a much larger one a week later. Or we could just wait and provide the larger one later. Do you have a preference? Would it just be "busy work" to process our JSON twice or would you prefer to solidify the path on an early version of the file and then re-process again later?

[2020-02-15 01:00] #11 closed

[2020-02-15 01:04] AlexanderPico commented on #14
@ariutta Can you make a flow diagram in draw.io that depicts the major steps in our PFOCR pipeline. We can then annotate (e.g., with fill color) which are automated and which are manual. Maybe we can provide a rough percentage estimate of how much of the pipeline is automated by this Segment 1 deadline.

[2020-02-15 01:14] AlexanderPico commented on #13
Pasting original draft of MG3 goals here for reference:

We will focus on two activities. First, we will enable export of BTE results via the Reasoner API standard and in GraphML format. Despite having functional implementations of query path planning and execution, the current version of BTE does not include any significant capabilities for ranking and sorting. Exporting query path results in sta

[2020-02-15 01:17] AlexanderPico commented on #14
@ariutta Another aspect of this is "establishing infrasture" to automate in the future. Do you have ideas on tools we might want to use for this project to monitor scripts and future automation, e.g., Jenkins?  Part of satifying this Segment 1 aim would simply be to identify and prototype that sort of infrastruture tooling.

[2020-02-15 19:27] AlexanderPico commented on #13
Per discussion with Andrew, we've updated this aim. The originally proposed graph formats suffer from limited adoption and steep learning curves, making them poor choices for maximizing  data access to users of BTE for external analysis/prioritzation. Let's start by providing JSON and collect feedback and requirements prior to choosing additional export formats.

[2020-02-15 19:27] AlexanderPico commented on #13
PFOCR data is available in JSON format. So, this task is complete.

[2020-02-15 19:27] #13 closed

[2020-02-19 04:42] kevinxin90 commented on #12
@AlexanderPico Hi Alex, sorry I just saw this thread. It's fine to provide the final JSON when everything is ready. The parser should be very straightforward.

[2020-02-21 21:46] ariutta commented on #12
@kevinxin90, I was out sick but am back now. I'm working on getting this to you ASAP.

[2020-02-21 22:45] ariutta commented on #12
Here's a newline delimited JSON file with the format from my earlier comment:
https://www.dropbox.com/s/cbtamwk9u0xdhgo/pfocr_biothings.ndjson?dl=0

These are from figures that our system has identified as pathways and that had at least three recognized genes in our OCR process.

[2020-02-21 22:49] ariutta commented on #12
@AlexanderPico I'll work on adding the PMID soon, but I wasn't able to get it into this file.

@kevinxin90 we will have additional results coming, probably next week.

[2020-02-21 23:02] ariutta commented on #12
@kevinxin90 for `_id`, I left the `.jpg` extension on. Also, I made `genes` strings instead of numbers. If you want either of these changed, just let me know.

[2020-02-28 23:58] ariutta commented on #12
@andrewsu and @kevinxin90, I'm going to mark this as `done`. Here are summary stats for our exported file [`pfocr_biothings.ndjson`](https://www.dropbox.com/s/cbtamwk9u0xdhgo/pfocr_biothings.ndjson?dl=0) (the same file I mentioned above):

* figure source: `pfocr20191102_93k`. These were the figures we collected on 2019-11-02, limited to the top 93,000 (as sorted by PMC relevance score) from our f

[2020-02-29 01:15] andrewsu commented on #12
I think the ball is now in Kevin's court, but I don't think this issue should be closed until we actually complete the stated milestone -- ie, the creation of the BioThings API to serve PFOCR data.  Kevin I know is working on this -- should be done in the next week or so.

(Minor issue, but does the latest version have PMIDs?  Would be a nice-to-have, but obviously the PMCIDs will suffice too...)

[2020-02-29 04:20] AlexanderPico commented on #12
Roger that! Anders has PMIDs in the pipeline. It will be a part of all future depositions. We wanted to give you file asap meet the milestone. We can update it later next week if you think PMIDs will be helpful for the Segment 1 demo. Otherwise, we'll save it for the next update, which will include a ton more content early in Segment 2.

[2020-02-29 04:54] andrewsu commented on #12
I think PMIDs can wait until segment 2. Once Kevin creates the API based on the dropbox file linked above, we'll ask you to check it out. After we're all happy with it, we can close this ticket...

[2020-03-02 17:51] kevinxin90 commented on #12
@andrewsu @AlexanderPico @ariutta
The PFOCR API is alive now, please check it up, here are some query examples:
1. Query for a specific figure: https://pending.biothings.io/pfocr/geneset/PMC100008__mb2411709009.jpg
2. Query for a specific gene:
https://pending.biothings.io/pfocr/query?q=associatedWith.genes:107
3. Query for a specific PMC ID:
https://pending.biothings.io/pfocr/query?q=associatedWi

[2020-03-02 18:52] AlexanderPico commented on #12
Cool! I verified a handful of queries. It looks good to me.

[2020-03-02 19:37] ariutta commented on #12
Looks good!

Minor question: if we're going to add a `pmid` field, should we rename the `pmc` field to `pmcid`?

[2020-03-02 20:27] andrewsu commented on #12
Nice! I'll also note that multi-gene queries works, e.g., https://pending.biothings.io/pfocr/query?q=associatedWith.genes:27115%20AND%20associatedWith.genes:55811.  I think this will work out perfectly for how we envisioned a second layer of BTE prioritization.  For example, suppose for a given query, BTE comes back with ~100 reasoning chains (expressed as paths of biomedical entities).  We could

[2020-03-06 18:06] ariutta commented on #12
@AlexanderPico @kevinxin90 I haven't heard back, so I assume the answer to this question is "no, we'll use `pmc` and `pmid`":

[2020-03-06 18:16] kevinxin90 commented on #12
@ariutta Hi Anders, my bad. I missed this thread. I think "pmc" is fine. Normally, we label "pmid" as "pubmed". Thanks!

[2020-03-09 20:53] AlexanderPico commented on #14
![PFOCR Pipeline for BTE](https://user-images.githubusercontent.com/1418193/76256543-5cd85600-620d-11ea-9521-43079ee7973c.png)

[2020-03-10 05:37] ariutta commented on #14
As illustrated in the [figure above](https://github.com/wikipathways/pathway-figure-ocr/issues/14#issuecomment-596773873), we propose a pipeline for performing OCR on figures and processing the results to identify entities of interest, such as genes. The items marked as `Container` can be packaged and deployed using Docker, with inter-container communication performed by means of an RPC system lik

[2020-03-10 05:37] #14 closed

[2020-03-10 17:54] AlexanderPico commented on #14
@ariutta Can you provide a detailed summary of the status and plans for automating this pipeline?

[2020-03-10 17:57] AlexanderPico commented on #12
@andrewsu APIs confirmed. Is this one ready to close? Do you need anything on this one for the demo?

[2020-03-10 18:08] andrewsu commented on #12
I think we are good, please close it out!  (We are trying to put together a notebook that demonstrates the use of the PFOCR API with BTE for the demo next week.  If anyone on your end has bandwidth to work on that, let me know!)

[2020-03-11 22:08] #12 closed

[2020-03-16 19:29] andrewsu commented on #13
When using the biothings PFOCR API (created in https://github.com/wikipathways/pathway-figure-ocr/issues/12) this notebook has a nice demonstration of using PFOCR data in a biomedical query: https://github.com/biothings/biothings_explorer/blob/master/jupyter%20notebooks/TIDBIT%2004%20Finding%20Marketed%20Drugs%20that%20Might%20Treat%20an%20Unknown%20Syndrome%20by%20Perturbing%20the%20Disease%20Mec

[2020-03-31 18:51] AlexanderPico commented on #16
@ariutta Shall we dive into this one? I was thinking we could add:

1. PMIDs
2. - Pathway Ontology terms (IDs and names)
3. - Disease Ontology terms (IDs and names)

You have 1 already. We have the start of 3 (from Jensen). And we should brainstorm on 2.

Other ideas?

[2020-04-06 22:20] AlexanderPico commented on #15
@ariutta Please provide an updated JSON with PMIDs to improve mapping to other BTE entities.

[2020-04-06 22:23] AlexanderPico commented on #15
@andrewsu Do you need our input on the API design for this item? In addition to providing PMID links, do you need any other information in the JSON?

[2020-04-06 22:29] AlexanderPico commented on #16
@khanspers Why don't you try getting GO:BP terms associated with PFOCR results.

[2020-04-06 22:32] AlexanderPico commented on #16
@ariutta I'll send you a tsv with `figid` mappings to `disease terms`. Can you work with kevin to get consensus on the formatting.

[2020-04-07 04:22] andrewsu commented on #15
This one is going to mostly be work on the BTE end I think -- the data you've provided in the JSON (after adding PMIDs) I think will be sufficient for a first pass at this.  We'll need to prioritize this on our end...

I think if you all could focus your efforts on #16 and #17, that would be great. And as a stretch goal, I'd be really excited about adding NER for other object types (compounds, dis

[2020-04-07 04:27] andrewsu commented on #17
The other part of this ticket will be automating the update of the API at https://pending.biothings.io/pfocr with whatever your latest PFOCR output is. We are working out the mechanism for this now, but basically you should plan on automatically updating your JSON file at some URL (maybe a github raw link, maybe a google drive or S3 link), and we will poll that file on a mutually agreed schedule t

[2020-04-07 17:55] AlexanderPico commented on #17
@ariutta Can you add Andrew's piece (above) to the plan you were going to add here?

[2020-04-08 20:32] ariutta commented on #16
@kevinxin90, we're looking to add more fields (PMID, Pathway Ontology, Disease Ontology) to our data for BTE. What do you think about the format below (the values are just placeholders)? The keys match http://identifiers.org/ prefixes in order to ensure they stay consistent and unique.

[code]

[2020-04-08 22:00] kevinxin90 commented on #16
@ariutta Hi Anders, this looks great to me!!

[2020-04-09 18:30] AlexanderPico commented on #16
@ariutta, Here's a map of `figid` to `doid` and human readable `terms`:
https://www.dropbox.com/s/vgazcxdq4wsl5yk/pfocr_disease_map.tsv?dl=0

@kevinxin90, Should we include both DOID and term name? As a proposed "node property" the human readable term name may be more useful than DOID. But if you already have a mapping for Disease Ontology IDs and terms, then it's perhaps not necessary. Thought?

[2020-04-09 19:29] kevinxin90 commented on #16
@AlexanderPico Yes. I think it's a good idea to include both DOID and term name in the API response. For Biothing Explorer, it doesn't matter whether you include the name or not (we will do the ID resolving internally). But as an API itself, it would be very useful (in case the user doesn't access it through BioThings Explorer).

[2020-04-25 00:22] AlexanderPico commented on #15
Per suggestion, let's shift the focus of this item to adding NER for other object types (compounds, diseases, etc.).  @ariutta  Let's explore piping our current OCR results to PubTator's web API for compounds and concepts, for example.

[2020-10-07 19:07] AlexanderPico opened #18 "Shiny app: Mouse-over values"
From NAR reviewer comments: mouse hovering could highlight the actual values as the scales are very dense

[2020-10-07 19:08] AlexanderPico opened #19 "Shiny app: Fix column widths"
From NAR reviewer comments: some of the column titles are partly hidden (image is not wide enough)

[2020-10-19 22:29] ariutta commented on #16
@kevinxin90, in this reporting period, @AlexanderPico and I have done more work to parse our PFOCR data, using APIs like [PubTator](https://www.ncbi.nlm.nih.gov/research/pubtator/api.html) to extract chemical and disease mentions in the OCR text. Notice that these disease mentions are pulled directly from the OCR text, unlike the [disease associations Alex referenced above](https://github.com/wiki

[2020-10-19 22:41] ariutta commented on #17
The item @AlexanderPico mentioned is now working:

For the trigger to let you know the file has been updated, we could use [GitHub webhooks](https://docs.github.com/webhooks/). With webhooks, you wouldn't need to poll for updates. Rather, you would subscribe to the repo in order to receive push events notifying you of changes. We would need make a system to handle cases when we add more info to ou

[2020-10-20 04:18] andrewsu commented on #17
We have a variety of systems of triggering new builds of our BioThings APIs, the details of which I have remained blissfully ignorant.  I'll pass along these ideas to the team...

Is the upstream automation done then?  i.e., is there a JSON file that is being updated on a regular basis?  If so, we should complete the automation on our side to push out new versions of the PFOCR API...

[2020-10-20 17:57] ariutta commented on #17
Yeah, even just for GitHub, there are multiple options! Let me know what the team prefers, and I'll follow suit.

Yes and no. Yes, we do have a JSON file that is being updated on a regular basis, but in the sense that we are extracting more and more information from the same OCR text. First we identified genes, and then using pathway enrichment analysis, we identified diseases. More recently, we'v

[2020-10-20 21:14] ariutta commented on #16
@andrewsu, you're also welcome to comment on this format, if you're interested, especially how to distinguish mentions vs. annotations.

[2020-10-20 21:51] AlexanderPico commented on #17
It's still premature to completely automate all upstream steps for the following reasons:

- We have 3 or 4 papers still to write about the current data in hand. These papers require their own coding and analysis work. They aim to demonstrate the value of the extracted information. They may reveal important changes needed in upstream steps.
- The scope of the upstream content is not well defined.

[2020-10-20 22:38] kevinxin90 commented on #16
Hi @ariutta, thanks for the update. Here're a few suggestions from me.
1.  Group the mentions and annotations as two separate dictionaries.
2. Group the results based on the semantic type, e.g. gene, chemical, disease
3. It's fine to keep mesh for results from pubtator

Here is what I would propose:
[code]

[2020-10-20 23:01] ariutta commented on #16
@kevinxin90, that looks great. I just need to get you an updated file with this format.

[2020-10-21 18:25] ariutta commented on #17
Let's break it down like this:

1. Automate the system where when we update our results, that update is reflected in BTE.
2. Run our semi-automated PFOCR pipeline for newer figures. @AlexanderPico, do we want to create a schedule for how often we do this?

[2020-10-21 22:53] AlexanderPico commented on #17
1. Yes, that should be the full focus and scope of this issue/task. Are there any remaining steps to automate within this scope? Let's detail those here and then close the issue when complete.

2. Scheduling the next update is on hold until future notice.

[2020-12-01 18:17] ariutta commented on #16
Hi @kevinxin90, I wanted to let you know I have the chemicals extracted from almost all the PFOCR pathway figures (63591 of 64643 because the PubTator API returned an error for some of them). I currently have them in [TSV format](https://www.dropbox.com/s/mhe8x7p98l4yk8f/pfocr_chemicals.tsv?dl=0) (link included in case you want to take a sneak preview), but I'll get an updated file with the format

[2020-12-04 02:20] ariutta commented on #16
@kevinxin90,

Here is an updated file in the format we discussed, including chemicals in addition to genes this time:
https://www.dropbox.com/s/m03hd447oi3yjz1/pfocr_biothings_65k_20201203.ndjson?dl=0

## Summary Stats
for pathway figures having at least 3 chemicals and/or genes found
* figure count: 55309
* unique gene count: 13442
* total gene count: 1069777
* unique chemical count: 5560
* total

[2020-12-04 17:52] kevinxin90 commented on #16
@ariutta I found a couple places where the value of pubmed equal to 0. Does it mean pubmed id is not found?
Example:
[code]

[2020-12-04 17:57] ariutta commented on #16
Good catch! Yes, you're right. I'll take a look at filling those in.

[2020-12-04 18:09] kevinxin90 commented on #16
Great! I currently just removed those pubmed fields if they equal to 0.

@ariutta The new API is currently up at: https://biothings.ncats.io/pfocr

Some example queries:

https://biothings.ncats.io/pfocr/geneset/PMC4671449__medscimonit-21-3736-g001.jpg

Query by Chemical MESH ID: https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.chemicals.mesh:D000431

Query By Gene NCBIGene ID: htt

[2020-12-04 19:53] AlexanderPico commented on #15
The progress on this task has conceptually merged with #16

[2020-12-04 19:53] #15 closed

[2020-12-05 00:07] AlexanderPico commented on #16
@kevinxin90 Do the chemical MeSH IDs connect in BTE to any other entries, e.g., pharmceutical products? It would be nice to mention a query path in the annual report that is enabled by this new deposition of chemicals in pathway figures.

[2020-12-08 21:44] #17 closed

[2020-12-08 22:29] AlexanderPico opened #20 "Upgrade of pathway figure collection, processing and deposition pipeline"
We plan to make incremental improvements to the processing of pathway figure content and annotations. First, we will modularize the processing pipeline and define input/output interfaces for each step. For example, one module will take any image file along with an optional PMCID as input and perform the OCR and processing required to generate a standard output of OCR-extracted text and metadata. A

[2020-12-08 22:58] AlexanderPico opened #21 "Update of pathway figure content and annotations"
We will process an updated collection of pathway figures published since the last run. We estimate 12,000 pathway figures are published each year in recent years. This would represent a 20% increase in the total pathway count and incorporate the latest research findings into BioThings Explorer via annotated pathway content. Pending performance and demand, we may run the pipeline quarterly during s

[2020-12-08 22:59] AlexanderPico opened #22 "Utilize the hierarchical structure of pathway content"
Similar to Gene Ontology, our collection of annotated pathway figures can be hierarchically organized, i.e., the contents of some figures partially overlap or are sometimes subsets of others. We should be able to use this information to define sub-pathway modules that are commonly represented, as well as super-pathway sets that share a common core. Such modules and sets will be analyzed by hierarc

[2020-12-09 00:25] AlexanderPico opened #23 "Produce monthly WP JSON for BTE"
We should generate a BTE JSON file from monthly release, e.g., the human gmt file. This should be deposited into a specified location that BTE regularly checks for updates.

Note: this task is _not_ part of the Translator ARA project (it's more of a KP thing). So, consider this an extra export type from the WP project. Skip including this in annual reports.

[2020-12-09 00:40] AlexanderPico commented on #16
@kevinxin90 Is there a particular place we should upload future .ndjson files, i.e., somewhere that is periodically checked and queued up for BTE integration?  Or is this something we should work out next year?

[2020-12-09 01:14] kevinxin90 commented on #16
@AlexanderPico Hi Alex, if it's small. You could just upload to this github. For us, we only need a static url we can track the last-modified date. It could also be a google cloud storage or other cloud storage services. You could view an example [here](https://github.com/kevinxin90/text_mining_targeted_association/blob/master/manifest.json).

[2020-12-09 01:18] kevinxin90 commented on #16
We don't really distinguish pharmaceutical products (I assume drug, right?) and ChemicalSubstance in BTE. But we do can do some ID translation (e.g. MeSH -> Drugbank ID) within BTE.

We can make a query path like Disease -> Gene -> Chemical (with the later step using PFOCR as one of the consulted resources? since PFOCR has information about what genes and chemicals are in the same pathway) Up for

[2020-12-14 19:18] AlexanderPico opened #24 "Implement PFOCR-based path ranking in BTE"
Pending the benchmarking study on PFOCR as a resource for enrichment analysis, we will optimize a procedure to calculating score as part of a BTE query, implmenting an API (or Python lib) to perform the calculation.

#### Background
Andrew Su: "We want to use PFOCR as a bioentity set against which we do enrichment analysis.  So, for example, someone does a BTE query that returns 1000 paths -- we c

[2021-05-19 22:54] AlexanderPico opened #25 "Intersection of CMap and PFOCR extracted chemicals"
In our shared NIA folder, this file has >6000 drugs annotated for repurposing: CMap_Repurposing_Hub.xlsx

Can you add a column to this table (or create a separate mapping table) based on the intersection of names?

There are no mappings from MeSH to BRD ID, unfortunately, so let's just see what we can get from a simple name match for now. I acknowledge that this will miss a lot of things.

[2021-05-19 23:14] AlexanderPico opened #26 "New gene counts"
- number of total gene mentions, expected ~1.4 million
- number of total unique genes, expected ~14k
- number of total non-redundant pathways, expected ~81k

[2021-05-19 23:37] AlexanderPico opened #27 "MSigDb unique gene count"
This page (https://www.gsea-msigdb.org/gsea/msigdb/genesets.jsp?collection=C2) has 11 signatures with "Alzheimer" in their name.

Click on each to find a "download gene set" option, e.g., GMT and TXT formats.

Can you help get a count for **unique** genes across these 11 sets?

[2021-05-20 19:43] AlexanderPico commented on #27
these signatures contain only 3,077 unique genes

[2021-05-24 18:23] ariutta commented on #26
* number of total gene mentions: 1,326,706
* number of total unique genes: 14,251
* number of total non-redundant pathways: 79,949 (having at least one recognized gene: 73,878)

[2021-05-24 18:33] #26 closed

[2021-05-24 19:08] khanspers opened #28 "Incorrect link in Shiny"
Found a link in the Shiny tool that goes to the wrong paper:

PMC5372489 links to https://www.ncbi.nlm.nih.gov//pmc/articles/PMC149053/figure/fig7/

[2021-05-24 22:46] khanspers opened #29 "Suggested improvement: Show full publication title when hovering over "paper title" column in table."
It would be extremely useful to be able to see the full title of papers in the Shiny interface, maybe when hovering over an entry in the "paper title" column or simply right above the "Link to figure" in section 3.

[2021-05-24 22:54] khanspers commented on #29
Nevermind, this already works. However, there is a longer than expected delay (almost 2 seconds) for the pop-up to load, which made me think it wasn't working. Closing this.

[2021-05-24 22:54] #29 closed

[2021-05-25 22:36] AlexanderPico commented on #25
Here's a second list of drug names to attempt a quick intersection with:
https://www.dropbox.com/s/taia99vu2tah6cy/Full%20Library%20Gladstone%20%28with%20cpd%20names%29_20171106.xlsx?dl=0

[2021-05-27 01:35] ariutta commented on #25
First batch:
https://www.dropbox.com/s/je6e3q513p5ql3p/CMap_Repurposing_Hub_PFOCR.xlsx?dl=0

[2021-05-27 05:51] ariutta commented on #25
Second batch:
https://www.dropbox.com/s/ohu9k2on8yflydc/Full%20Library%20Gladstone%20%28with%20cpd%20names%29_20171106_PFOCR.xlsx?dl=0

[2021-05-27 16:34] AlexanderPico commented on #25
PFOCR overlaps:

- 1267 of 6798 CMap
- 1025 of 6912 Anke's library

[2021-05-27 16:34] #25 closed

[2021-05-27 18:07] ariutta commented on #25
Code used:
https://github.com/wikipathways/pathway-figure-ocr/blob/master/notebooks/chemical_intersections.ipynb

[2021-05-27 23:02] AlexanderPico commented on #27
Let's just count the C2/CP collection. The other "CGP" sets are just DE gene lists from perturbation experiments and are thus not comparable to curated pathways.

https://www.gsea-msigdb.org/gsea/msigdb/genesets.jsp?collection=CP

[2021-05-27 23:22] ariutta commented on #25
pfocr_id's for CMap: 13,575
pfocr_id's for Anke: 10,045

[2021-05-27 23:44] khanspers commented on #27
There are 4 sets in C2_CP for Alzheimers, from 4 sources (WP, KEGG, BIOCARTA and REACTOME).
Total unique genes 89.
Spreadsheet here: https://www.dropbox.com/s/2hel6rllbsj0juf/MSigDB_Counts_C2-CP.xlsx?dl=0
And screenshot of the summary here:
<img width="384" alt="Screen Shot 2021-05-27 at 4 44 12 PM" src="https://user-images.githubusercontent.com/1442197/119909876-cb84fa80-bf0a-11eb-817c-a1d2fcab5d

[2021-05-28 15:12] AlexanderPico commented on #26
Diffs for new counts:
- 214,155 new mentions
- 787 new unique genes
- 15,306 new figures

[2021-05-28 15:22] AlexanderPico commented on #27
Wait, how are the total unique only 89 when KEGG and WP each have 166 and 150?

[2021-05-28 17:01] khanspers commented on #27
<img width="380" alt="Screen Shot 2021-05-28 at 10 01 17 AM" src="https://user-images.githubusercontent.com/1442197/120018196-aab8b580-bf9b-11eb-94da-fbf4c740c024.png">

[2021-06-11 01:28] ariutta opened #33 "Potential improvements to Jupyter and other infra"
Moving this from [this file](https://github.com/wikipathways/pathway-figure-ocr/blob/2a8deefefe65f2f225bf13c782366de032bad0ee/TODOS_for_shell.nix.md) to an issue.

## take a look at using [xeus-python](https://github.com/jupyter-xeus/xeus-python#what-are-the-advantages-of-using-xeus-python-over-ipykernel-ipython-kernel)

It supports the jupyterlab debugger. But it's not packaged for nixos yet.

##

[2021-06-14 22:38] #27 closed

[2021-11-16 18:37] AlexanderPico opened #37 "Trouble reading pfocr_chemicals.tsv"
Using `fill=T` made the file readable:
[code]
...but the data is scuffed. See:

[code]
It looks like single quotes (or prime characters) are messing up the read, e.g., `adenosine 5'-phosphorothioate`. Setting `quote=""` seems to take care of that.

Now reading in 120,262 rows and 10 columns.

[2021-11-16 18:57] #37 closed

[2021-12-03 20:29] AlexanderPico commented on #16
@ariutta Should this be closed? Are chemical, disease ont and pathway ont terms integrated?

[2021-12-03 20:32] AlexanderPico commented on #20
@ariutta Can you bullet point some of the upgrades performed over past year? Also add bullet points for things to upgrade in the next round?

[2021-12-03 20:33] AlexanderPico commented on #21
@ariutta Can you add the stats for the 2021 run we did? Just bullet the total and unique counts you shared on Slack. Then close this issue.

[2021-12-03 20:37] AlexanderPico commented on #22
During the past year we:

- annotated pathway figures with disease and pathway ontologies
- performed Jaccard distance measures and hierarchical clustering on pathway figures in colab with Tina

To do:

- utilize these new clusters and distance metrics to explicitly annotate pathway figures (e.g., cluster IDs)
- utilize ontology  and cluster annotations to define sub- and super-pathways sets
- add

[2021-12-03 20:39] AlexanderPico commented on #23
@ariutta Can we close this one? Is this something you've added to your monthly WP release protocol?

[2021-12-03 20:40] AlexanderPico commented on #24
The benchmarking study is still ongoing. This task is dependent on the results of that study. Will continue in 2022.

[2021-12-04 01:35] ariutta commented on #21
- 124,464 figures from PMC search
- 124,447 downloaded (some 404'd)
- 124,441 AutoML’d (6 rejected as invalid JPGs)
- 28,700 classified as pathway (by AutoML with score >= 0.5) and OCR'd
- 15,914 new pathways, after deduplication with 20200224 batch (24% increase in 15.5 months, based on dates the queries were performed: 2020-02-24 vs. 2021-05-15)
  - number of total non-redundant pathways: 79,949

[2021-12-04 01:35] #21 closed

[2021-12-07 21:21] ariutta commented on #20
Completed:
- Implemented and documented a reproducible installation process: https://github.com/wikipathways/pathway-figure-ocr#install
- Increased standardization and automation of the [PFOCR pipeline](https://github.com/wikipathways/pathway-figure-ocr#pipeline), including:
  - getting a list of likely pathway figures
  - downloading those figures
  - using the machine learning model we trained e

[2021-12-08 22:45] ariutta commented on #16
Chemicals: yes. Diseases, pathways or amino acids: I think the answer is no.

[2021-12-21 20:02] AlexanderPico commented on #22
Work with Eric (Zhang lab; CPTAC) to try NetSAM on PFOCR with filtered Jaccard distance weights.

[2022-02-11 17:41] AlexanderPico opened #38 "Cohort selection figures and tables"
[Jeff Henrikson](https://app.slack.com/team/U01R5STM533)  [9:35 AM](https://ncatstranslator.slack.com/archives/D033FCGLVJL/p1644600903602869)

Alex, regarding cohort selection, here are some resources describing the conventions of Table 1 in epidemiology papers.
A paper about Table 1 itself:
    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6773463/pdf/nihms-1535136.pdf
A project about improving cu

[2022-03-22 19:16] ariutta commented on #23
BTE has been using a different pipeline for WP data. We'd have to discuss this further to clarify the goal.

[2022-03-22 19:57] AlexanderPico commented on #24
Based on our experience so far, including positive feedback from the Translator meeting 7 Feb 2022, let's modify this aim to annotate results rather than influence ranking.

In the same way that scores are calculated and added to results, and then passed on to ARAX and the final UI, we could perform queries on results that include diseases, chemicals and genes, and _annotate_ results with a list o

[2022-03-25 20:13] ariutta commented on #16
How inclusive should we be for chemicals? For example, some of our collaborators don't want side metabolites included in their analyses, e.g., Na+, NADPH or S-adenosyl-L-methioninate.

Thanks to @tokebe's suggestion, I ran a sample of the PFOCR chemicals results through the [node normalizer] (https://nodenormalization-sri.renci.org/). I got back the following

biolink types
- ChemicalMixture
- Che

[2022-03-28 19:25] andrewsu commented on #16
I agree with this strategy!

[2022-03-31 19:33] ariutta commented on #16
I've got a draft version of the latest export file ready:
https://github.com/wikipathways/pfocr-pipeline/raw/main/export/bte_chemicals_diseases_genes.ndjson

Note this version does not have PubMed IDs. Is it important that I provide them, or is this something easily handled by existing TRAPI APIs like node normalizer?

[2022-03-31 19:53] andrewsu commented on #16
On quick glance, looks good!  I do not believe that Translator has an easy mechanism to translate PMCIDs to PMIDs. So if it's easy for you to add, please do.  If not, the PMCID will be fine as provenance for now...

[2022-04-05 20:49] ariutta commented on #16
@andrewsu, we have an updated dataset available here:
https://www.dropbox.com/s/1f14t5zaseocyg6/bte_chemicals_diseases_genes.ndjson?dl=0

This dataset is formatted the same way as the previous one, except:
- we now have titles for figures
- we're not including `pubmed`

We now have chemicals, diseases and genes. The new genes are from our latest batch of PFOCR data. The new chemicals are from both